<h2 class="remove-border">Edit Wishlist Title</h2>

<form action="/wishlists/<%= @wishlist.id %>" method="post">
<input type="hidden" id="hidden" name="_method" value="patch"/>
    <div class="field">
        <div class="control">
            <input class="input" type="text" name="title" value="<%=@wishlist.title%>" required>
        </div>
        <p class="help">Change the title for your wishlist!</p>
    </div>
    <button class="button is-link">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>Save Changes</span>
    </button>
</form>