<h2 class="has-text-centered remove-border">Create A New Wishlist</h2>

<form action="/wishlists" method="POST">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="title" value="" placeholder="Wishlist Title" required>
        </div>
        <p class="help">Enter a title for your wishlist!</p>
        <label class="label">Add Items</label>
        <div class="">
            <textarea class="textarea" type="text" name="content" value="" placeholder="Bathbombs from Lush, Hot Cheetos, Nintendo Switch...etc"></textarea>
        </div>
        <p class="help">Enter items you want to include in your wishlist!</p>
    </div>
    <button class="button is-success">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>Create</span>
    </button>
</form>