<div class="has-text-centered">
<h1>Wishlistar</h1>
<h2 class="remove-border">Compile all things you could ever want into one place!</h2>
</div>

<div class="has-text-centered">
<a href="/login"><button class="button is-primary">Login</button></a>
<a href="/signup"><button class="button is-link">Sign Up</button></a>
</div>

