Log In!
<p></p>
<form class="" action="/login" method="POST">
    <label for="email">Email: </label>
    <input type="text" name="email" value=""><br>
    <label for="password">Password: </label>
    <input type="password" name="password" value=""><br>
    <input type="submit" value="Log In">
</form>
